h1{ 
    color: blue;
 font-size: 24px; 
 text-align: center;

}
div{
/* color */
background-color: white;
/* font */
font-weight: bolder;
font-size: 15px;
height: 50px;
/* width */
width: 20vw;
   height: 45vh;
   border: solid;
   border-color: rgb(2, 14, 6);
   border-width:30px ;
}
.abafundi{
position: absolute;
top: 50px;
left: 1000px;
width: 20vw;
   height: 45vh;
}
.computer{
    position: absolute;
    top: 400px;
 width: 20vw;
   height: 30vh; 
   transform: translateX(1000px);
   animation: pointright 5s infinite alternate-reverse;
}

@keyframes pointright{
0%{
transform: translateX(0);
}
100%{
transform: translateX(1000px);
}

}

.ibati{
position: absolute;
top: 400px;
left: 1000px;
    width: 20vw;
   height: 30vh;


}
.mashine{
position: absolute;
top: 400px;
left: 500px;
       width: 20vw;
    height: 30vh;
}


.ict{
width: 20vw;
height: 30vh;
}

.picture1{
    width: 20vw;
    height: 30vh;
}

.picture2{
    width:20vw ;
    height: 30vh;
}
.IREMBO{
    font-weight: bolder;
}
.final{
position: absolute;
text-align: center;
bottom: 0;
color: blue;
left: 400px;

}
.part2{
position: absolute;
top: 50px;
left: 500px;
bottom: 100px;
@media (max-width:480px) {   
}


}